.navbar {
  background-color: #2b3a67; /* Couleur principale */
  padding: 10px 20px;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo img {
  height: 50px;
}

.navbar-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  margin-left: 20px;
}

.navbar-links a {
  text-decoration: none;
  color: #f9d24a; /* Jaune rappelant l'univers de Brawl Stars */
  font-weight: bold;
  transition: all 0.3s ease;
}

.navbar-links a:hover {
  color: #ff3c3c; /* Rouge vif pour l'effet hover */
  text-shadow: 0 0 10px rgba(255, 60, 60, 0.8);
}
